@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="jumboyton p-2 text-center">
    <h2 class="display-3">
        <img src="/image/nfl/nfl.png" />
        National Football League
    </h2>
</div>
